$primary-color: #000000;
$secondary-color: #b3b3b3;
$font-family: "Montserrat";

.App {
  text-align: center;
  font-family: $font-family;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-regular {
  font-size: 12px;
}
.light-text {
  color: $secondary-color;
}
.btn-custom-black {
  background-color: $primary-color;
}
.mb-25 {
  margin-bottom: 25px;
}
.mt-15 {
  margin-top: 15px;
}

.bg-dark-custom {
  background-color: #d9d9d9;
}

.profile {
  height: 40px;
  width: 40px;
}

input {
  &:focus-visible {
    outline: none;
  }
}
